@import "../../utils/nullfile.module.css";

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__toggle {
    background-color: #3498db;
    color: white;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown__toggle:after {
    position: absolute;
    content: "▼";
    padding: 0 5px;
}

.dropdown__toggle:hover {
    background-color: #2980b9;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    z-index: 5;
    width: 200px;
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.dropdown__item {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 30px 5px 10px;
    font-size: 16px;
    display: flex;
}

.dropdown__item:hover,
.dropdown__item.selected {
    background-color: rgb(60, 60, 60);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

