@import "../../utils/nullfile.module.css";

.task__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding: 15px 5px;
    position: relative;
}

.task__container:hover {
    background-color: rgb(61, 61, 61);
}

.task__column {
    font-size: 16px;
    color: rgb(245, 245, 245);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button{
    padding: 5px 30px 5px 10px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.selector {
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
}

.selector::after {
    position: absolute;
    content: "▼";
    right: 15px;
}

.title > p {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.small_time {
    border: 2px solid rgb(14, 44, 22);
    background-color: rgb(25, 80, 40);
    color: rgb(66, 192, 146);
}