.settings {
    padding: 10px;
    border-bottom: 1px solid rgb(60, 60, 60);
    font-size: 16px;
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: right;
    gap: 50px;
}

.settings__item {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings__item_null {
    color: white;
}