@import "../../utils/nullfile.module.css";

.tasks__container {
    width: 100%;
    min-height: 85vh;
    border: 2px solid rgb(60, 60, 60);
    margin: auto;
    padding: 18px;
    border-radius: 30px;
}

.content {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    border-bottom: 1px solid rgb(60, 60, 60);
    color: rgb(245, 245, 245);
    font-size: 24px;
    padding: 15px;
}

.dropdown {
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 40px 5px 15px;
}

.selected {
    border: 2px solid rgb(39, 62, 97);
    background-color: rgb(65, 105, 164);
    color: rgb(122, 179, 238);
}

.dropdown::after {
    position: absolute;
    content: "▼";
    padding: 0 10px;
}
.tasks__place {
    border-bottom: 1px solid rgb(60, 60, 60);
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}